.cardetail {
  display: flex;
  flex-direction: column;
}

.cardetail__head {
  display: flex;
}

.cardetail__headhero {
  height: 432px;
  width: 728px;
  object-fit: cover;
  border: 1px solid black;
}

.cardetail__other {
  display: flex;
  justify-content: center;
}