.detail {
  display: flex;
  flex-direction: column;
  height: 432px;
  width: 296px;
  border: 1px solid green;
  padding-top: 48px;
  padding-left: 40px
}

.detail__views {
  display: flex;
}
.detail__viewsoption {
  margin-right: 24px;
}
.detail__share {
  display: flex;
  align-items: center;
}
.detail__icon {
  margin-left: 10px;
}