.detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 432px;
  width: 296px;
  padding-left: 40px;
  padding-bottom: 20px;
}
.detail__hero {
 font-weight: bold;
 font-size: 36px;
 margin-bottom: 32px;
 padding-top: 0px;
}

.detail__option {
  font-weight:normal;
  font-size: 12px;
  color: var(--darkgray);
  margin-bottom: 8px;
  margin-top: 0px;
}

.detail__insert {
  font-weight: bold;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.detail__views {
  display: flex;
}
.detail__viewsoption {
  text-align: center;
  margin-right: 24px;
}
.detail__share {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: -15px;
}
.detail__icon {
  margin-left: 10px;
}

.detail__count {
  margin-top: 0px;
}

@media only screen and (max-width: 400px) {
  .detail {
    /* height: 256px; */
    margin-bottom: 5px;
    display:-webkit-box;
    height: 256px;
  }
  .detail__hero {
    margin-top: 32px;
    margin-bottom: 16px;
    padding-top: 0px;
   }
  .detail__right {
    margin-top: 88px;
    margin-left: 20px;
  }

  .hidden {
    display: none;
  }
  .left {
    display: flex;
  }
}