nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 56px;
  background-color: var(--black);
}


.nav__left {
  transform: skew(-15deg);
}

.nav__right {
  display: flex;
  transform:skew(-15deg);
  transform-origin: right;
  background-color: var(--orange);
}


.nav__icon {
  transform: skew(15deg);
  color: var(--white);
  max-height: 16px;
  margin: 24px 24px 16px 24px;
  transform-origin: top;
}

@media only screen and (max-width: 400px) {
  nav {
    min-width: 100vmin;
  }
  .nav__left:first-child {
    display: none;
  }
  .nav__right>:last-child {
    display: none;
  }
}