.otherd {
  width: 480px;
  margin-left: 4px;
  margin-right: 4px;
  padding-bottom: 30px;
  background-color: var(--white);
}

.otherd > div {
  padding-left: 40px;
}

.otherd__title {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
  color: var(--gray);
  margin-bottom: 24px;
}

.otherd__row {
  display: flex;
  justify-content: space-between;
}

.otherd__option {
  color: var(--gray);
  height: 18px;
}

.otherd__inset {
  margin-right: 60px;
  font-weight: bold;
}

hr {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 400px) {
  .otherd {
    width: 100vmin;
    margin-right: 0px;
    margin-bottom: 16px;
  }

  .otherd__inset {
    margin-right: 20px;
  }
}